{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="profile_class">
            <center><h2>Complete Your Profile</h2></center>
            <form method="POST">
                <div class="mb-3">
                    <label for="recipient_name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="recipient_name" name="recipient_name" value="{{ user.name }}" required>
                </div>
                <div class="mb-3">
                    <label for="phone_no" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone_no" name="phone_no" value="{{ user.phone_number }}" required>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <textarea class="form-control" id="address" name="address" rows="3" required>{{ user.address }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country" name="country" value="{{ user.country }}" required>
                </div>
                <div class="mb-3">
                    <label for="region" class="form-label">Region</label>
                    <select name="region" id="region" class="form-control">
                        <option value="East" {% if user.region == 'East' %}selected{% endif %}>East</option>
                        <option value="West" {% if user.region == 'West' %}selected{% endif %}>West</option>
                        <option value="North" {% if user.region == 'North' %}selected{% endif %}>North</option>
                        <option value="South" {% if user.region == 'South' %}selected{% endif %}>South</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="pin" class="form-label">PIN Code</label>
                    <input type="text" class="form-control" id="pin" name="pin" value="{{ user.pincode }}" required>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
