<!DOCTYPE html>
<html>
    <head>
        <title>Password Validation</title>
    </head>

    <body>
        <h1>Hi, please fill the form</h1>
        <form method="post">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="uName"required/></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td><input type="number" name="uPhone"required/></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="uEmail"required/></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="Password" name="uPassword" required minlength="8"/></td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>   